In [21]:
from azureml.core import Workspace, Datastore, Dataset, Experiment
from azureml.core import Run

In [22]:
# Access the workspace, datastore and dataset
ws = Workspace.from_config(path="/Users/Krish/dev/DP-100/config/azml-samp-config.json")
dstore = Datastore.get(ws, 'azml_samp_blob')
dset = Dataset.get_by_name(ws, 'Loan App sdk')
def_dstore = ws.get_default_datastore()

In [23]:
# Use run.get_context() to ensure that a new run is not started
# Instead this runs in parralel with the same run submitted  within az-scriptrun
run01 = Run.get_context()

In [24]:
# Import dataser to a useable dataframe
dframe = dset.to_pandas_dataframe()
dframe.head()

Failed to extract subscription information, Exception=AttributeError; 'Logger' object has no attribute 'activity_info'
Failed to extract subscription information, Exception=AttributeError; 'Logger' object has no attribute 'activity_info'
Failed to extract subscription information, Exception=AttributeError; 'Logger' object has no attribute 'activity_info'
Failed to extract subscription information, Exception=AttributeError; 'Logger' object has no attribute 'activity_info'
Failed to extract subscription information, Exception=AttributeError; 'Logger' object has no attribute 'activity_info'
Failed to extract subscription information, Exception=AttributeError; 'Logger' object has no attribute 'activity_info'

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,False,0,Graduate,False,5849,0.0,NaN,360.0,1.0,Urban,True
1,LP001003,Male,True,1,Graduate,False,4583,1508.0,128.0,360.0,1.0,Rural,False
2,LP001005,Male,True,0,Graduate,True,3000,0.0,66.0,360.0,1.0,Urban,True
3,LP001006,Male,True,0,Not Graduate,False,2583,2358.0,120.0,360.0,1.0,Urban,True
4,LP001008,Male,False,0,Graduate,False,6000,0.0,141.0,360.0,1.0,Urban,True

In [25]:
# Calculate the total observations present within the dataframe
tot_obs = len(dframe)

In [26]:
# Calculate the number of observations that is null, nan or missing 
nval = dframe.isnull().sum()

In [27]:
# Create a new df with new features
# Write outputs to a folder
newdf = dframe[["Gender","Married","Education", "Loan_Status"]]
newdf.to_csv("./outputs/loan_trunc.csv", index=False)

In [28]:
# Add metrics involving total observations
run01.log("Total observations", tot_obs)

Attempted to log scalar metric Total observations:
614

In [29]:
# Log the missing values
for columns in dframe.columns:
    run01.log(columns, nval[columns])

Attempted to log scalar metric Loan_ID:
0
Attempted to log scalar metric Gender:
13
Attempted to log scalar metric Married:
3
Attempted to log scalar metric Dependents:
15
Attempted to log scalar metric Education:
0
Attempted to log scalar metric Self_Employed:
32
Attempted to log scalar metric ApplicantIncome:
0
Attempted to log scalar metric CoapplicantIncome:
2
Attempted to log scalar metric LoanAmount:
22
Attempted to log scalar metric Loan_Amount_Term:
14
Attempted to log scalar metric Credit_History:
50
Attempted to log scalar metric Property_Area:
0
Attempted to log scalar metric Loan_Status:
0

In [30]:
# Close/Complete an experiment run
run01.complete()